body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin: auto;
  width: 450px;
  height: 450px;
}

/* Individual squares */
.wrapper > * {
  background-color: red;
  height: 100%;
  width: 100%;
}

ol, ul {
  padding-left: 30px;
}

.status {
  width: 450px;
  font-family: monospace, sans-serif;
  text-align: center;
  margin: auto;
}

.Square {
  /* Turn each square into a flex container I guess */
  display:flex;
  justify-content:center;
  align-items:center;

  color:white;
  font-size: 75px;
  font-weight: bold;
  min-height: 100%;
  padding: 0;
  text-align: center;
}

.Square:hover{
  background-color: pink;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
