body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin: auto;
  width: 450px;
  height: 450px;
}

/* Individual squares */
.wrapper > * {
  background-color: #a1e9c6;
  height: 100%;
  width: 100%;
}

.restart {
  width: 450px;
  height: 30px;
  line-height: 30px;
  margin: 20px auto;

  text-align: center;
  font-family: monospace, sans-serif;
  border: 1px solid teal;
  border-radius: 5px;
}

.restart:hover{
  background-color: teal;
  color: white;
  cursor: pointer;
}

.status {
  width: 450px;
  font-family: monospace, sans-serif;
  color: teal;
  text-align: center;
  margin: auto;
}

.Square {
  /* Turn each square into a flex container I guess */
  display:flex;
  justify-content:center;
  align-items:center;

  color:white;
  font-size: 75px;
  font-weight: bold;
  min-height: 100%;
  padding: 0;
  text-align: center;
}

.Square:hover{
  background-color: #4ca177;
  cursor: pointer;
}
